/* static/css/style.css */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 15px;
}

.password-input {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
}

.password-strength {
    position: relative; /* Needed for absolute positioning of text */
    width: 100%;
    background-color: #ddd;
    margin-bottom: 10px;  /* Spacing between the bar and the tips */
    height: 20px; /* Ensure there's room for text */
    border-radius: 5px;
}

.strength-text {
    position: absolute;
    left: 10px;  /* Position inside the bar */
    color: white;  /* Make the text color stand out */
    font-weight: bold;
}

.password-strength-meter {
    height: 100%;
    border-radius: 5px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.password-info {
    font-size: 18px;
    margin-bottom: 15px;
}

.note {
    color: #555;
    margin-bottom: 20px;
}

.password-link {
    display: inline-block;
    background-color: #007bff;
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.password-link:hover {
    background-color: #0056b3;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-btn {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.create-btn {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.copy-btn:hover {
    background-color: #218838;
}

.password-tips {
    margin-bottom: 20px;  /* Spacing between the tips and the button */
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
}

.password-tips ul {
    padding-left: 50px;
    text-align: left;
}

.password-tips p {
    margin-bottom: 5px;
    font-weight: bold;
}

.footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
  border-top: 1px solid #e7e7e7;
  font-size: 20px; /* You can change this value to the size you prefer */
  font-weight: bold; /* This makes the text bold */
}

.create-pass {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #2846a7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}