<head>
  {% block title %}
  <title>KDBFaucet-OneTime</title>
  {% endblock %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="icon" href="{% static 'css/perrito.ico' %}" type="image/x-icon">
  {% block head %}
  <!-- this can be overruled -->
  {% endblock %}
</head>

<body>
  <div class="container-fluid">
    <div>{% block content %}{% endblock %}</div>
  </div>
    <!-- Footer Section -->
    <footer class="footer">
        <a href="https://kdbfaucet.org/">
        <p>/</p>
</a>
    </footer>
</body>
</html>
