{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Create a One-Time Password Link</h1>
    <form method="post" action="{% url 'create_link' %}" id="passwordForm">
        {% csrf_token %}
        <div class="form-group">
            <label for="password">Enter Password:</label>
            <input type="password" id="password" name="password" class="password-input" required>
            
            <button type="button" id="generatePassword" class="create-pass" style="margin-top: 10px;">or create one</button>
            <span id="generatedPasswordPreview" style="margin-left: 10px; font-style: italic;"></span> <!-- Added preview span -->
        </div>
        <div class="password-strength" id="passwordStrength">
            <span id="strengthText" class="strength-text"></span>
        </div>
        <div class="password-tips">
            <p>Recommendations for a strong password:</p>
            <ul>
                <li>At least 8 characters long</li>
                <li>Uses both upper and lower case letters</li>
                <li>Includes numbers and symbols</li>
            </ul>
        </div>
        <button type="submit" class="create-btn">Create Link</button>
    </form>
</div>
<script>
document.getElementById('password').addEventListener('input', function() {
    const password = this.value;
    const strengthMeter = document.getElementById('passwordStrength');
    const strengthText = document.getElementById('strengthText');
    const strengths = {
        0: "Too short",
        1: { color: "#ff3e36", text: "Weak" },       // Red for weak
        2: { color: "#ff691f", text: "Moderate" },   // Orange for moderate
        3: { color: "#ffda36", text: "Moderate" },   // Yellow for moderate
        4: { color: "#0be881", text: "Strong" }      // Green for strong
    };
    let strengthValue = 0;

    if (password.length >= 8) strengthValue++;
    if (password.match(/[a-z]/) && password.match(/[A-Z]/)) strengthValue++;
    if (password.match(/[0-9]/)) strengthValue++;
    if (password.match(/[^a-zA-Z\d]/)) strengthValue++;

    strengthMeter.style.width = (strengthValue / 4) * 100 + '%';
    strengthMeter.style.backgroundColor = strengths[strengthValue] ? strengths[strengthValue].color : "#ddd";
    strengthText.textContent = strengths[strengthValue] ? strengths[strengthValue].text : "Invalid";
});

document.getElementById('generatePassword').addEventListener('click', function() {
    const chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%&*?';
    let password = '';
    const passwordLength = 12; // Generate 12 characters long passwords for better security

    for (let i = 0; i < passwordLength; i++) {
        const randomNumber = Math.floor(Math.random() * chars.length);
        password += chars.substring(randomNumber, randomNumber +1);
    }

    document.getElementById('password').value = password;
    document.getElementById('generatedPasswordPreview').textContent = password; // Update the preview span with the generated password
    // Trigger the input event listener to update the strength meter
    document.getElementById('password').dispatchEvent(new Event('input'));
});
</script>
{% endblock %}
