<!-- templates/password_created.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Password Link Created</h1>
    <p class="password-info">Your shared password: <strong>{{ password }}</strong></p>
    <p class="note">Share this link to access the password. Note: The link can only be used once.</p>
    
    <div class="button-container">
        <a href="{{ link }}" target="_blank"  id="passwordLink">{{ link }}</a>
        <button onclick="copyLink()" class="copy-btn">Copy</button>
        <p class="security-message">Relax, the password stored by the app is secure and will be deleted immediately after being shared.</p>
        <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
    </div>
</div>
<script>
function copyLink() {
    var link = document.getElementById("passwordLink").href; // This may need adjustment if you actually have the link element to copy from
    var tempInput = document.createElement("input");
    tempInput.value = link;
    document.body.appendChild(tempInput);
    tempInput.select();
    document.execCommand("copy");
    document.body.removeChild(tempInput);
    alert("Link copied to clipboard!");
}
</script>
{% endblock %}